{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="first">
        <div class="second">
            <div class="third">
                <form>
                    <div>
                      <label for="exampleInputEmail1" class="form-label">Username</label>
                      <br>
                      <input type="text" class="form-control" required name="username" size="50px" style="height: 25px;">
                    </div>
                    <div>
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <br>
                      <input type="password" required class="form-control" id="exampleInputPassword1" name="passward" size="50px" style="height: 25px;">
                    </div>
                    <div class="bottom">
                        <button type="submit" style="align-self: center;" class="btn btn-primary">Submit</button>
                        <a href="register/">Not Have Account</a>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</body>
</html>